<style>
  .bs-teaser-container {
    padding: 0px;
    max-width: 440px;
  }
  .bs-teaser-container .bs-teaser-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid #000;
    padding: 5px 20px;
    margin-bottom: 10px;
  }
  .bs-teaser-container .bs-teaser-content .bs-icon {
    width: fit-content;
  }
  .bs-teaser-container .bs-teaser-content .bs-icon svg {
    width: 25px;
    margin-top: -4px;
    display: inline-block;
  }
  .bs-teaser-container .bs-teaser-content .bs-info-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-title {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 150%;
    margin: 0;
    padding: 0;
  }
  .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-info, .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-delay {
    font-size: 13px;
    line-height: normal;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    font-weight: 400;
  }
  .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-delay .bs-colorize {
    color: {{block.settings.delay_color}};
    font-weight: 800;
  }

  @media (max-width: 768px) {
    .bs-teaser-container .bs-teaser-content .bs-icon svg{
      width: 25px;
    }
    .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-info, .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-delay {
      font-size: 12px;
    }
  }
</style>

{% if block.settings.phrase_seule %}
<div class="bs-teaser-container">
  <div class="bs-teaser-content">
    <div class="containerflexh">
      <div class="bs-info-wrap">
        <div class="bs-title">
          {% if product.available %}
            <div id="stock-display">
              <span class="green-dot"></span>
              <span style="font-weight:bold;">{{ 'products.product.preorders' | t }}</span>
            </div>
          {% endif %}
          <span id="delivery_date2">
            &nbsp;{{ block.settings.teaser_title }} {{ 'products.product.months.january' | t }} 2026
          </span>
        </div>

      
      </div>
  </div>
</div>
</div>
  <style>
 @media (max-width: 768px) {
    .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-title{
      font-size:14px!important;
    }
  }

     #stock-display{display:flex;gap:4px;align-items:center;display:none!important;}

  #stock-text{font-weight:bold;}
  .green-dot {
    background: #0de440;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    animation: greendot 2s linear infinite;
    transform: scale(1);
    margin-right: 7px;
    margin-left: 3px;
}
.bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-title {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0;
    display: flex;
    margin: 0;
    padding: 0;
    display:none!important;
}
.bs-teaser-container .bs-teaser-content{border:0!important;}
  @keyframes greendot{
    0% {
    transform: scale(.95);
    box-shadow: 0 0 #21e082;
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px #f4af2900;
    }
    100% {
        transform: scale(.95);
        box-shadow: 0 0 #f4af2900;
    }
  }
</style>
{% else %}

{% endif %}

<style>

.bs-icon img {
  display: block;
}
.bs-swiper .swiper-slide {
  width: auto;
}
  .flexv{
    display:flex;
    flex-direction:column;
    justify-content: left;
    text-align: left;
    
  }
  .bs-swiper .swiper-slide{
    justify-content:left!important;
  }
  .flexvspan1{
    font-size:13px!important;
  }
  .flexvspan2{
    font-size:13px!important;
    line-height:normal;
    color:#a4a4a4;
  }
  .bs-icon svg {
    width: 25px;
  }
  .deliverydate2{font-size:18px;font-weight:normal;}
  .containerflexh{
    width: 100%;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items:center;
  }
  .bs-teaser-container {
    padding: 0px;
  }
  .bs-teaser-container .bs-teaser-content {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid #e2e2e2;
    padding: 5px 20px;
    margin-bottom: 10px;
  }
  .bs-teaser-container .bs-teaser-content .bs-icon {
    width: fit-content;
  }
  .bs-teaser-container .bs-teaser-content .bs-icon svg {
    width: 25px;
    margin-top: -4px;
    display: inline-block;
  }
  .bs-teaser-container .bs-teaser-content .bs-info-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-title {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0;
    
    margin: 0;
    padding: 0;
  }
  .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-info, .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-delay {
    font-size: 13px;
    line-height: normal;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    font-weight: 400;
  }
  .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-delay .bs-colorize {
    color: {{block.settings.delay_color}};
    font-weight: 800;
  }

  @media (max-width: 768px) {
    .bs-teaser-container .bs-teaser-content .bs-icon svg{
      width: 25px;
    }
    .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-info, .bs-teaser-container .bs-teaser-content .bs-info-wrap .bs-delay {
      font-size: 12px;
    }
  }
  .bs2-teaser-container{margin-bottom:10px;width:100%;}
</style>

  



<style>
  .bs2-teaser-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .bs2-teaser-inner::before {
    content: '';
    border-bottom: 1px dashed #2b195a;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 23px;
    z-index: -1;
  }

  .bs2-teaser-icon {
    width: 50px;
    height: 50px;
    background: {{block.settings.fond_icones}}!important;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    font-size: 12px;
    border: 4px solid white;
  }

  .bs2-teaser-icon svg {
    width: 20px;
  }

  .bs2-teaser-icon i {
    font-size: 18px;
  }

  .bs2-teaser-col {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    position: relative;
    z-index: 2;
  }

  .bs2-teaser-col:first-child::before,
  .bs2-teaser-col:last-child::before {
    content: '';
    width: 50%;
    left: 0;
    top: 20px;
    height: 5px;
    background: white;
    position: absolute;
    z-index: -1;
  }

  .bs2-teaser-col:last-child::before {
    left: unset;
    right: 0;
  }
  
</style>




